<main class="main-container">
    <article class="main-container__article">
        <img src="./assets/images/oso-madro.jpg" class="main-container__img" />
        <p class="main-container__txt">
            La estatua del oso y del madroño está realizada en piedra y bronce.
            Pesa aproximadamente 20 toneladas y mide 4 m de altura. Descansa
            sobre un pedestal cúbico escalonado, hecho en granito.1​ Representa
            de forma realista las armas heráldicas de Madrid, con el madroño
            superando en altura al oso y este apoyando sus manos sobre el tronco
            y dirigiendo sus fauces hacia uno de los frutos. Según relata el
            escultor, se inspiró en un oso pardo macho de la Casa de Fieras del
            Retiro capturado en los Picos de Europa.
        </p>
    </article>

    <article class="main-container__article">
        <img src="./assets/images/gran-via.jpg" class="main-container__img" />
        <p class="main-container__txt">
            La Gran Vía es una de las principales calles de la ciudad española
            de Madrid. Comienza en la calle de Alcalá y termina en la plaza de
            España. Es un importante hito en la ciudad desde su construcción a
            principios de siglo xx visto desde el punto de vista comercial,
            turístico y de ocio. En este último aspecto es famosa por sus cines,
            si bien en los últimos años algunos de ellos han cerrado y otros se
            han reconvertido al teatro musical, por lo que el tramo comprendido
            entre la plaza del Callao y la de España se conoce como el «Broadway
            madrileño». El tramo comprendido entre la red de San Luis y la plaza
            del Callao alberga en la actualidad numerosas tiendas de cadenas
            internacionales de moda.
        </p>
    </article>

    <article class="main-container__article">
        <img src="./assets/images/atocha.jpg" class="main-container__img" />
        <p class="main-container__txt">
            Atocha es uno de los 7 barrios que conforman el distrito de
            Arganzuela en Madrid. En este barrio se encuentra la estación de
            Atocha, la más importante estación ferroviaria de España. El barrio
            se encuentra limitado por la Ronda de Atocha por el norte, la calle
            de Méndez Álvaro por el oeste, la Avenida de la Ciudad de Barcelona
            por el este y la M-30 por el sur.
        </p>
    </article>

    <article class="main-container__article">
        <img
            src="./assets/images/plaza-cibeles.jpg"
            class="main-container__img"
        />
        <p class="main-container__txt">
            La plaza de Cibeles se encuentra en la ciudad española de Madrid, en
            la intersección de la calle de Alcalá (que la cruza de oeste a este)
            con el paseo de Recoletos (al norte) y el paseo del Prado (al sur).
            Este lugar, uno de los más simbólicos de la capital, divide los
            límites de los distritos Centro, Retiro y Salamanca. En el centro
            del recinto, se sitúa la célebre fuente de Cibeles, esculpida en el
            año 1782, a partir de un diseño de Ventura Rodríguez. Cada una de
            las cuatro esquinas de la plaza está presidida por edificios
            emblemáticos, construidos entre finales del siglo xviii y principios
            del xx.
        </p>
    </article>
</main>
